<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Welcome to Odyss!</h2>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <div class="panel panel-warning">
          <div class="panel-heading"><h3 class="panel-title">What is this?</h3></div>
          <div class="panel-body">
            <p>We're a community of people working towards our goals in groups designed to
            provide each with the support to get to where we want to be.</p>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div class="panel panel-warning">
          <div class="panel-heading"><h3 class="panel-title">What group have I been invited to?</h3></div>
          <div class="panel-body">
            <p>You've been invited to join the group ''.</p>
            <p>This group's objective is:</p>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div class="panel panel-warning">
          <div class="panel-heading"><h3 class="panel-title">Okay let's do this</h3></div>
          <div class="panel-body">
            <p>Sign up with one of the providers below to get started!</p>
            <%= link_to 'Sign in with Facebook', '/auth/facebook', class: "btn btn-facebook btn" %>
            <%= link_to 'Sign in with Google', '/auth/google', class: "btn btn-google btn" %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
