<div class="panel panel-default">
  <div class="panel-heading">
    <h2>One last step!</h2>
  </div>
  <div class="panel-body">
    <p>
      To chat with other members of a group we use a service named Discord,
      which has an app for every major platform including the web. Click the
      button below to get started!
    </p>
    <p class="center"><%= link_to 'Integrate with Discord', '/auth/discord', class: "btn btn-primary" %></p>
  </div>
</div>
