<div class="jumbotron center">
  <p>Working towards your goals alone is hard.</p>
  <p>Join a group of similarly minded people with Odyss.</p>
  <%= link_to 'Sign in with Facebook', '/auth/facebook', class: "btn btn-facebook btn" %>
  <%= link_to 'Sign in with Google', '/auth/google', class: "btn btn-google btn" %>
</div>
