<div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please sign in!</h4>
      </div>
      <div class="modal-body">
        <div class="center">
          <p>You can sign in with either of the services listed below for full access to the Odyss community!</p>
          <%= link_to 'Sign in with Facebook', '/auth/facebook', class: "btn btn-facebook btn" %>
          <%= link_to 'Sign in with Google', '/auth/google', class: "btn btn-google btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
